
* {
	font-family: Arial, sans-serif;
	color: #2d2d2d;
	margin-bottom: 15px;
	font-size: 16px;
}

p {
	font-size: 16px;
}

b {
	font-weight: 600;
	color: red;
}

i {
	font-style: italic;
}

 ul.list-circle {
	display: block;
	list-style: none;
	text-align: left;
	margin-left: 20px;
	width: 800px;
}
		

 ul.list-circle li {
	display: block;
	width: auto ;
	padding-left: 25px;
	font-family: Arial, sans-serif;
  	font-size: 16px; 
	font-weight: normal;
	line-height: 1.5;
	white-space: normal;
	position: relative;
}
	

 ul.list-circle li:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 0;
	width: 10px;
	height: 10px;
	
	font-size: 0;
	background-color: #02a0e3;
	border-radius: 50%;
	box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.9);
}




 ul.service-head {
	list-style: none;
	padding-top: 20px;			
	text-align: left;

}
			

ul.service-head li {
	padding: 0px;
	padding-left: 30px;
	position: relative;
	font-size: 16px;
}

ul.service-head li:before {
	position: absolute;
	top: 0px;
	left: 0;
	content: "\2714";
	color: #02a0e3;
	font-size: 30px;
}
		




ul.drop-down-list-blue {
	display: block;
	width: 70%;		
	list-style: none;
}

 ul.drop-down-list-blue > li {
	display: block;
	color: #ffffff;
	text-align: left;
	height: auto;	
}

 ul.drop-down-list-blue > li > p {
	padding: 15px 20px;	
	color: #ffffff;			
	background-color: #02a0e3;
	border-bottom: 1px solid #ffffff;
}
			

 ul.drop-down-list-blue > li > ul {
	display: block;
	list-style: none;
	padding: 10px 0;
}


 ul.drop-down-list-blue > li > ul > li {
	display: block;					
	border-bottom: none;
}					

 ul.drop-down-list-blue > li > ul > li * {
	color: #2d2d2d;
	padding: 0 10px;
	background-color: #ffffff;
	line-height: 1.2;
	padding-bottom: 15px;
	text-align: justify;
}
				



		

 table.drop-down-table {
	width: 100%;
}
table.drop-down-table tr td {
	height: auto;
	padding: 10px;
	vertical-align: middle;
}

table.drop-down-table tr td {
	text-align: right;
}

table.drop-down-table tr td:first-child {
	width: 70%;
	text-align: left;


table.drop-down-table tr:nth-child(even) td {
	background-color: #e8e8e8;
}


table.drop-down-tableul > li > p:before {
	content: "►";
	display: inline-block;
	margin-right: 8px;
}