
@color-black: #000000; /*  черный текст, текст в меню */
@color-gray: #2d2d2d; /* темно-серый текст */ 
@color-red: #d3174e; /* текст красно-розовый*/
@color-white: #ffffff;  /* текст белый */
@color-blue: #02a0e3;/* текст голубой */
@color-lightblue: #94d1f8;

@nav-first-min-height: 37px;
@nav-last-min-height: 75px;
 
@tablet-widths: ~"(max-width: 1024px)";/*780*/
@mobil-widths: ~"(max-width: 765px)";/*960*/



@desktop-widths-only: ~"(min-width: 1024px)"; /*1170*/


@height-footer: 420px; 


@height-footer-mobil: 700px;
