.main-call-bg {
	position: relative;

}

.main-call {
	.container-fluid();
	padding-bottom: 30px;
	background: url("../img/bg-phone.png") right center no-repeat;

	&__form-call {
		display: block;
		width: 100%;
		padding: 20px;
		padding-right: 160px;		
		text-align: right;
	}

	.form-call__user-input {
		margin-right: 20px;
	}

	&__comment {
		.roboto-bold(16px);
		
		color: @color-white;
		padding: 20px 0;
		font-style: italic;
	}
}