.main-press {	
	

	&__block-wr {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		width: 100%;
		margin-top: 45px;
		text-align: center;		
	}

	&__block-item {
		display: inline-block;
		padding: 10px;
	}

	&__btn-wr {
		width: 100%;
		text-align: center;
		padding: 20px 0 60px;
		.btn {
			width: 293px;
		}
	}

}