.main-services-bg {
	width: 100%;	
}

.main-services {
	.container-fluid();
	.block-shadow-white();
	background: #ffffff;
	min-height: 500px;
	

	&__list {
		padding-top: 50px;
		display: flex;
		flex-flow: row wrap;
		align-items: stretch;
		justify-content: center;
		margin: 0 -15px;
	}

	&__item {
		padding: 10px;
		position: relative;
		z-index: 10;
	}

	&__item:hover .block-service-yellow {
		.shadow-hover();
	}

	&__form-comment {
		padding-top: 35px;
	}

	&__form-wrapper {
		position: relative;
		z-index: 12;
		height: 610px;
	}

	&__block-form {
		display: block;
		position: absolute;
		z-index: 13;
		top: 170px;
		right: 20px;
		width: 300px;
		height: auto;
		min-height: 460px;
		margin-top: 0;
	}

	&__block-desktop {
		display: block;
		position: absolute;
		z-index: 13;
		top: 255px;
		left: -40px;
		width: 660px;
		height: 410px;

		background: url("../img/mens.png") bottom left no-repeat,
					url("../img/bg-arr-black.png") 500px 50px no-repeat;
		background-size: auto;

		text-align: center;

		p {
			display: inline-block;
			padding-left: 30px;
			text-align: left;
			font-style: italic;
		}
	}

	&__block-desktop-phone {
		display: block;
		position: absolute;
		z-index: 13;
		top: 210px;
		left: -40px;
		width: 660px;
		height: 455px;

		background: url("../img/mens.png") bottom left no-repeat,
					url("../img/bg-arr-black.png") 450px 0px no-repeat;
		background-size: auto;

		text-align: left;

		p {
			display: inline-block;
			padding-left: 45px;
			text-align: left;			
		}
	}

	&__contact {
		display: block;
		width: 450px;
		margin: 20px 25px 0px 130px;	
		padding-left: 30px;	
		text-align: left;
		background: url("../img/ico-phone.png") 0 0 no-repeat;
		background-size: auto;
	}

	&__block-logo {
		display: block;
		padding: 60px 0;
		text-align: center;
	}

	&__logo {
		display: inline-block !important;
		margin: 12px;
	}
}

@media @tablet-widths {
	

	.main-services {
		box-shadow: none;

		&__block-desktop,
		&__block-desktop-phone {
			display: none;
		}

		&__block-form {
			position: relative;
			top: 40px;
			right: auto;
			width: 100%;
			margin: 0 auto;
			min-height: 300px;
		}

		&__block-logo {			
			padding: 30px 0;			
		}

		&__logo {
			width: 20vw;
			height: 20vw;
			margin: 1vw;
		}
	}	
}

.other {
	.bg-bottom-shadow();
	padding-bottom: 50px;
	position: relative;
}

@media @mobil-widths {
	.main-services {
		&__block-form {
			top: 50px;
			left: -20px;
			width: ~"calc(100% + 40px)";
		}

		&__block-logo {			
			width: 100vw;
			min-width: 320px;
			margin-left: -20px;			
		}		
	}
}

@media (max-width: 440px) {
	.main-services__form-wrapper {
			height: 680px;
		}
}
