.main-article-bg {
	position: relative;
	z-index: 6;
	background-color: #43ace7;
	background: url("../img/bg-article.png") center center no-repeat #43ace7;
	.block-shadow-inset();
	padding: 0px 0 100px;

	@media @tablet-widths {background-image: none;}
}

.main-article {
	.container-fluid();

	h2 {color: #ffffff;}

	&__block-wr {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;

		width: 100%;
		margin-top: 30px;
		text-align: center;		
	}

	&__block-item {
		display: inline-block;
		padding: 10px;


	}
}